@tailwind base;
@tailwind components;

::-webkit-scrollbar {
  width: 8px;
  background: #f2f2f2;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #e88d67;
  border-left: 1px solid #e88d67;
  border-right: 1px solid #e88d67;
  border-radius: 20px;
}

#companies-scrollbar::-webkit-scrollbar {
  height: 0;
  background: transparent;
}

#companies-scrollbar:hover::-webkit-scrollbar {
  height: 1px;
  background: #f2f2f2;
  border-radius: 10px;
}

#companies-scrollbar:hover::-webkit-scrollbar-thumb {
  background: #e88e6759;
  border-left: 1px solid #e88d67;
  border-right: 1px solid #e88d67;
  border-radius: 10px;
}

@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

:root {
  --foreground-hex: black;
  --background-start-hex: #ffe1cc;
  --background-end-hex: #fad9b1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: black;
    --background-start-hex: #ffe1cc;
    /* --background-end-hex: #fff; */

    --background-end-hex: #fffbf5;
  }
}

* {
  letter-spacing: 1px;
  word-spacing: 2px;
  font-style: normal;
}

body {
  color: var(--foreground-hex);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: var(--background-end-hex);
  /* color: #f6efeb; */
  /* color: #4444440d; */
}

.hamburger.open .line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.hamburger.open .line:nth-child(2) {
  opacity: 0;
}
.hamburger.open .line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
