@tailwind base;
@tailwind components;

::-webkit-scrollbar {
  width: 8px;
  background: #f2f2f2;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #e88d67;
  border-left: 1px solid #e88d67;
  border-right: 1px solid #e88d67;
  border-radius: 20px;
}
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Mono+One&display=swap");

:root {
  --foreground-hex: #4d1f00;
  --background-start-hex: #ffe1cc;
  --background-end-hex: #fec59d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: black;
    --background-start-hex: #ffe1cc;
    --background-end-hex: #fffbf5;
  }
}

* {
  font-family: "Rubik Mono One", monospace;
  font-style: normal;
}

body {
  color: var(--foreground-hex);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background: radial-gradient(
    circle,
    var(--background-start-hex) 0%,
    var(--background-end-hex) 50%
  ); */
  background: var(--background-end-hex);
  /* color: #f6efeb; */
}
