@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #4d1f00;
  --background-start-hex: #ffe1cc;
  --background-end-hex: #fec59d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: #4d1f00;
    --background-start-hex: #ffe1cc;
    --background-end-hex: #f2ca99;
  }
}

body {
  color: var(--foreground-hex);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: radial-gradient(
    circle,
    var(--background-start-hex) 0%,
    var(--background-end-hex) 50%
  );
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
